<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1029887757300-l8h0sqrvfoqr8cu22b6klb37kt4261no.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029887757300-l8h0sqrvfoqr8cu22b6klb37kt4261no</string>
	<key>API_KEY</key>
	<string>AIzaSyAI56UKarVnFQvV4fD-yOaCzwqQKzKR5lo</string>
	<key>GCM_SENDER_ID</key>
	<string>1029887757300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.organizr</string>
	<key>PROJECT_ID</key>
	<string>organizr-38098</string>
	<key>STORAGE_BUCKET</key>
	<string>organizr-38098.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029887757300:ios:fa0770efab705ca4</string>
	<key>DATABASE_URL</key>
	<string>https://organizr-38098.firebaseio.com</string>
</dict>
</plist>